// colors
$backgroundColor: #F7F7F7;
$borderColor: #7B7B7B;
$dropDownBorderColor: #DBDBDB;
$lightBorderColor: #e6e6e6;
$grayBorder: #BFBFBF;
$scollColor: #CBCBCB;
$lightColor: #EAEAEA;
$darkColor: #3E3E3E;
$lightDarkColor: #2B2B2B;
$blueColor: #144576;
$darkBlueColor: #134474;
$backButtonColor: #1B5A80;
$whiteColor: #fff;
$redColor: #DA2627;
$textColor: #384848;
$lightTextColor: #707070;
$rowColor: #ccc;

// Fonts
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightExtraBold: 900;